{% extends "base.html" %}
{% load static %} // Add this line to import the Django template tags
{% block content %}
<h1>Home</h1>
<h4>NEW BAR IN TOWN</h4>
<h1>THE BEST AT MAKING COCKTAILS</h1>
<p>At Barkeeper we are committed to making cocktails for all kinds of tastes, however if you do not find any
    that you like we will prepare it for you! Select the ingredients of your cocktail below. As you can see
    you can choose between fruit drinks, juices, alcoholic and non-alcoholic beverages and other types of
    ingredients such as cucumber, ginger and ice cream.</p>
{% endblock %}
